<% include partials/header %>
<title>Student Registration - ResearchConnect</title>

<% var schools = ["The University of British Columbia (UBC)"], faculties = ["Applied Science", "Architecture and Landscape Architecture", "Arts", "Audiology and Speech Sciences", "Business", "Community and Regional Planning", "Dentistry", "Economics", "Education", "Extended Learning", "Forestry", "Journalism", "Kinesiology", "Land and Food Systems", "Law", "Library, Archival and Information Studies", "Medicine", "Music", "Nursing", "Pharmaceutical Sciences", "Population and Public Health", "Science", "Social Work", "UBC Vantage College"], 
	
	majors = ["Accounting", "Anthropology", "Applied Biology", "Architecture", "Art History, Visual Art and Theory", "Arts One", "Asian Research", "Asian Studies", "Astronomy", "Audiology and Speech Sciences", "Bachelor of Commerce", "Behavioural Neuroscience", "Biochemistry", "Biology", "Biomedical Engineering", "Canadian International Resources and Development Institute", "Cellular, Anatomical & Physiological Sciences", "Central Eastern Northern European Studies", "Chemical and Biological Engineering", "Chemistry", "Civil Engineering", "Classical, Near Eastern and Religious Studies", "Co-ordinated Arts Program", "Community and Regional Planning", "Computer Science", "Creative Writing Program", "Critical Studies in Sexuality", "Earth and Ocean Sciences", "Electrical and Computer Engineering", "Engineering Physics", "English Language & Literatures", "Environment Design", "Environmental Engineering", "European Studies", "Executive Education", "Family Practice", "Finance", "First Nations Languages Program", "First Nations Studies Program", "Food and Resource Economics", "Food, Nutrition and Health", "Forest Sciences", "Forestry", "French, Hispanic, & Italian Studies", "Gender, Race, Sexuality and Social Justice", "Geography", "Geological Engineering", "Global Resource Systems", "History", "Integrated Engineering", "International Relations", "International Reporting Program", "Journalism", "Kinesiology", "Landscape Architecture", "Law", "Library, Archival and Information Studies", "Linguistics", "Liu Institute for Global Issues", "Management Information Systems", "Marketing", "Materials Engineering", "Mathematics", "Mechanical Engineering", "Media Studies", "Medical Education", "Medicine", "Microbiology and Immunology", "Midwifery", "Mining Engineering", "Museum of Anthropology", "Music", "Music", "Neuroscience", "Nursing", "Obstetrics and Gynecology", "Operations and Logistics", "Organizational Behaviour and Human Resources", "Pediatrics", "Pharmaceutical Sciences", "Philosophy", "Physics", "Physics and Computer Science", "Physics and Oceanography", "Political Science", "Psychology", "Public Policy and Global Affairs", "Real Estate Division", "Social Work", "Sociology", "Statistics", "Strategy and Business Economics", "Study of Democratic Institutions", "Surgery", "Theatre and Film", "Urologic Sciences", "Vancouver School of Economics", "Zoology" ]%>	
	
<div class="container">
	<form action="/register/student" method="POST">
		<h2 class="text-center mb-0 font-weight-light"><i class="fas fa-user-graduate"></i> Student Registration</h2>
		<hr>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>Email</label>
				<input type="email" class="form-control" name="email" placeholder="Email" 
					   <% if(err) { %> value="<%=defEmail%>" <% } %> required>
			</div>
			<div class="form-group col-md-4">
				<label>Password <small class="font-weight-light">(min. 5 characters)</small></label>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>
			<div class="form-group col-md-4">
				<label>Confirm Password</label>
				<input type="password" class="form-control" name="confirm" placeholder="Confirm password" required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>First Name</label>
				<input type="text" class="form-control" name="firstName" placeholder="First name" 
					   <% if(err) { %> value="<%=first%>" <% } %> required>
			</div>
			<div class="form-group col-md-4">
				<label>Middle Name</label>
				<input type="text" class="form-control" name="middleName" placeholder="Middle name"
					   <% if(err) { %> value="<%=middle%>" <% } %>>
			</div>
			<div class="form-group col-md-4">
				<label>Last Name</label>
				<input type="text" class="form-control" name="lastName" placeholder="Last name" 
					   <% if(err) { %> value="<%=last%>" <% } %> required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>School</label>
				<select class="form-control custom-select" name="school" required>
					<% schools.forEach((school) => { %>
						<option value="<%=school%>" 
								<% if(err && defSchool && defSchool === school) { %> selected <%}%>>
							<%= school %>
						</option>
					<% }); %>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Faculty</label>
				<select class="form-control custom-select" name="faculty" required>
					<% faculties.forEach((faculty) => { %>
						<option value="<%=faculty%>" 
								<% if(err && defFaculty && defFaculty === faculty) { %> selected <%}%>>
							<%= faculty %>
						</option>
					<% }); %>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Major</label>
				<select class="form-control custom-select" name="major" id="selectMajor" required>
					<% majors.forEach((major) => { %>
						<option value="<%=major%>" 
								<% if(err && defMajor && defMajor === major) { %> selected <%}%>>
							<%= major %>
						</option>
					<% }); %>
					<option value="Other">Other</option>
				</select>
				
				<div class="input-group mt-2">
					<input type="text" class="form-control" placeholder="Please specify major..." 
						   name="otherMajor"  id="specifyMajor">
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label>Expected Graduation</label>
			<select class="form-control custom-select" name="graduation" required>
				<% for(let i=0; i < 10; i++) { let year = moment().add(i, 'Y').format('YYYY'); %>
					<option value="<%=year%>"
							<% if(err && defGraduation && defGraduation === year) { %> selected <% } %>>
						<%=year%>
				</option>
				<% } %>
			</select>
		</div>
		
		<button type="submit" class="btn btn-outline-primary">Sign Up</button>
	</form>
	<hr>
	<span class="lead">Or signup with: </span><a href="/auth/google/student"><i class="fab fa-google p-2 px-3 border rounded"></i></a>
</div>

<% include partials/footer %>