<% include partials/header %>
<title>Student Registration - ResearchConnect</title>

<% var schools = [
	"The University of British Columbia (UBC)",
	"Simon Fraser University (SFU)"
], faculties = [
	"Arts",
	"Science"
], majors = [
	"Cognitive Systems",
	"Computer Science"
] %>	
	
<div class="container">
	<form action="/register/student" method="POST">
		<h2 class="text-center mb-0 font-weight-light"><i class="fas fa-user-graduate"></i> Student Registration</h2>
		<hr>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>Email</label>
				<input type="email" class="form-control" name="email" placeholder="Email" 
					   <% if(err) { %> value="<%=defEmail%>" <% } %> required>
			</div>
			<div class="form-group col-md-4">
				<label>Password <small class="font-weight-light">(min. 5 characters)</small></label>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>
			<div class="form-group col-md-4">
				<label>Confirm Password</label>
				<input type="password" class="form-control" name="confirm" placeholder="Confirm password" required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>First Name</label>
				<input type="text" class="form-control" name="firstName" placeholder="First name" 
					   <% if(err) { %> value="<%=first%>" <% } %> required>
			</div>
			<div class="form-group col-md-4">
				<label>Middle Name</label>
				<input type="text" class="form-control" name="middleName" placeholder="Middle name"
					   <% if(err) { %> value="<%=middle%>" <% } %>>
			</div>
			<div class="form-group col-md-4">
				<label>Last Name</label>
				<input type="text" class="form-control" name="lastName" placeholder="Last name" 
					   <% if(err) { %> value="<%=last%>" <% } %> required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>School</label>
				<select class="form-control" name="school" required>
					<% schools.forEach((school) => { %>
						<option value="<%=school%>" 
								<% if(err && defSchool && defSchool === school) { %> selected <%}%>>
							<%= school %>
						</option>
					<% }); %>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Faculty</label>
				<select class="form-control" name="faculty" required>
					<% faculties.forEach((faculty) => { %>
						<option value="<%=faculty%>" 
								<% if(err && defFaculty && defFaculty === faculty) { %> selected <%}%>>
							<%= faculty %>
						</option>
					<% }); %>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label>Major</label>
				<select class="form-control" name="major" required>
					<% majors.forEach((major) => { %>
						<option value="<%=major%>" 
								<% if(err && defMajor && defMajor === major) { %> selected <%}%>>
							<%= major %>
						</option>
					<% }); %>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label>Expected Graduation</label>
			<select class="form-control" name="graduation" required>
				<% for(let i=0; i < 10; i++) { let year = moment().add(i, 'Y').format('YYYY'); %>
					<option value="<%=year%>"
							<% if(err && defGraduation && defGraduation === year) { %> selected <% } %>>
						<%=year%>
				</option>
				<% } %>
			</select>
		</div>
		
		<button type="submit" class="btn btn-outline-primary">Sign Up</button>
	</form>
	<hr>
	<span class="lead">Or signup with: </span><a href="/auth/google/student"><i class="fab fa-google p-2 px-3 border rounded"></i></a>
</div>

<% include partials/footer %>