<% include partials/header %>

<div class="container">
	<form action="/register/employer" method="POST">
		<h2 class="text-center mb-0 font-weight-light"><i class="fas fa-users-cog"></i> Employer Registration</h2>
		<hr>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>Email</label>
				<input type="email" class="form-control" name="email" placeholder="Email" 
					   <% if(err) { %> value="<%=defEmail%>" <% } %> required>
			</div>
			<div class="form-group col-md-4">
				<label>Password <small class="font-weight-light">(min. 5 characters)</small></label>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>
			<div class="form-group col-md-4">
				<label>Confirm Password</label>
				<input type="password" class="form-control" name="confirm" placeholder="Confirm password" required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>First Name</label>
				<input type="text" class="form-control" name="firstName" placeholder="First name" 
					   <% if(err) { %> value="<%=first%>" <% } %>required>
			</div>
			<div class="form-group col-md-4">
				<label>Middle Name</label>
				<input type="text" class="form-control" name="middleName" placeholder="Middle name"
					   <% if(err) { %> value="<%=middle%>" <% } %>>
			</div>
			<div class="form-group col-md-4">
				<label>Last Name</label>
				<input type="text" class="form-control" name="lastName" placeholder="Last name" 
					   <% if(err) { %> value="<%=last%>" <% } %>required>
			</div>
		</div>
		
		<div class="form-group">
			<div class="form-group">
				<label>Institution Name</label>
				<input type="text" class="form-control" name="company" placeholder="Institution name" 
					   <% if(err) { %> value="<%=defCompany%>" <% } %>required>
			</div>
		</div>
		
		<button type="submit" class="btn btn-outline-primary">Sign Up</button>
	</form>
</div>
	
<% include partials/footer %>