<% include ../partials/header %>
<title>Edit Posting: <%=job.role%> - ResearchConnect</title>

<% let activeFull, activePart, checkFull, checkPart, activeOne, checkOne;
switch(job.workLoad) {
	case "Full-time":
		activeFull = "active", checkFull = "checked", activePart = "", checkPart = "", activeOne = "", checkOne = "";
		break;
	case "Part-time":
		activeFull = "", checkFull = "", activePart = "active", checkPart = "checked", activeOne = "", checkOne = "";
		break;
	case "One-off":
		activeFull = "", checkFull = "", activePart = "", checkPart = "", activeOne = "active", checkOne = "checked";
		break;		
}

let activePaid, checkPaid, activeVol, checkVol;
switch(job.paid) {
	case "Paid":
		activePaid = "active", checkPaid = "checked", activeVol = "", checkVol = "";
		break;
	case "Volunteer":
		activePaid = "", checkPaid = "", activeVol = "active", checkVol = "checked";
		break;
}

let activeGrant, checkGrant;
if (job.grant) {
	activeGrant = "active";
	checkGrant = "checked"; 
}

let activeW1, checkW1, activeW2, checkW2, activeS1, checkS1, activeS2, checkS2;
// if (job.term.includes("Winter T1")) {
// 	activeW1 = "active";
// 	checkW1 = "checked";
// }
// if (job.term.includes("Winter T2")) { 
// 	activeW2 = "active";
// 	checkW2 = "checked";
// }
// if (job.term.includes("Summer T1")) { 
// 	activeS1 = "active";
// 	checkS1 = "checked";
// }
// if (job.term.includes("Summer T2")) { 
// 	activeS2 = "active";
// 	checkS2 = "checked";
// }
%>

<div class="container border rounded py-4 px-5">
	<form onsubmit="return confirm('Confirm changes');" action="/jobs/<%=job._id%>?_method=PUT" method="POST">
		<p class="display-4 text-center">
			Edit Posting
		</p>
		<hr>
		<div class="form-group">
			<label class="lead">Institution Name:</label>
			<input type="text" name="job[company]" class="form-control" placeholder="Institution Name" value="<%= job.company %>" required>
		</div>
		
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label class="lead">Location:</label>
				<input type="text" name="job[location]" class="form-control" placeholder="e.g. Vancouver, BC" 
					   value="<%= job.location %>" required>
			</div>
			<div class="col-md-4 mb-3">
				<label class="lead">Job role:</label>
				<input type="text" name="job[role]" class="form-control" placeholder="Job title" value="<%= job.role %>" required>
			</div>
			<div class="col-md-4 mb-3">
				<label class="lead">Application Deadline:</label>
				<input type="date" name="job[deadline]" class="form-control" value="<%=moment(job.deadline).format("YYYY-MM-DD")%>" 
					   min="<%=moment().format("YYYY-MM-DD")%>" required>
			</div>
		</div>
		
		<div class="form-group">
			<p class="mb-1 lead">Job Description:</p>
			<div class="btn-group btn-group-toggle mb-2 mr-2" data-toggle="buttons">
				<label class="btn btn-outline-primary btn-sm <%=activeFull%>">
					<input type="radio" name="job[workLoad]" value="Full-time" <%=checkFull%> required> Full-time
		  		</label>
				<label class="btn btn-outline-primary btn-sm <%=activePart%>">
					<input type="radio" name="job[workLoad]" value="Part-time" <%=checkPart%> required> Part-time
				</label>	
				<label class="btn btn-outline-primary btn-sm <%=activeOne%>">
					<input type="radio" name="job[workLoad]" value="One-off" <%=checkOne%> required> One-off
				</label>
			</div>
			
			<div class="btn-group btn-group-toggle mb-2 mr-2" data-toggle="buttons">
				<label class="btn btn-outline-primary btn-sm <%=activePaid%>">
					<input type="radio" name="job[paid]" value="Paid" <%=checkPaid%> required>Paid
		  		</label>
				<label class="btn btn-outline-primary btn-sm <%=activeVol%>">
					<input type="radio" name="job[paid]" value="Volunteer" <%=checkVol%> required>Volunteer
				</label>	
			</div>
			
			<div class="btn-group btn-group-toggle mb-2 mr-2" data-toggle="buttons">
				<label class="btn btn-outline-primary btn-sm <%=activeGrant%>">
					<input type="checkbox" name="job[grant]" <%=checkGrant%>>Award/Grant Eligible
		  		</label>
			</div>
			
			<div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
				<label class="btn btn-outline-primary btn-sm <%=activeW1%>">
					<input type="checkbox" name="job[term]" value="Winter T1" <%=checkW1%> >Winter T1
		  		</label>
				<label class="btn btn-outline-primary btn-sm <%=activeW2%>">
					<input type="checkbox" name="job[term]" value="Winter T2" <%=checkW2%> >Winter T2
		  		</label>
				<label class="btn btn-outline-primary btn-sm <%=activeS1%>">
					<input type="checkbox" name="job[term]" value="Summer T1" <%=checkS1%> >Summer T1
				</label>	
				<label class="btn btn-outline-primary btn-sm <%=activeS2%>">
					<input type="checkbox" name="job[term]" value="Summer T2" <%=checkS2%> >Summer T2
				</label>	
			</div>			
		</div>
		
		<div class="form-group">
			<textarea class="form-control" rows="15" name="job[description]"><%= job.description %></textarea>			
		</div>
		
		<div class="form-group">
			<button class="btn btn-block btn-lg btn-outline-primary">
				Save
			</button> 
		</div>
	</form>
</div>

<% include ../partials/footer %>