<title>Edit Profile - ResearchConnect</title>

<% include ../partials/header %>

<% const schools = ["The University of British Columbia (UBC)"], faculties = ["Applied Science", "Architecture and Landscape Architecture", "Arts", "Audiology and Speech Sciences", "Business", "Community and Regional Planning", "Dentistry", "Economics", "Education", "Extended Learning", "Forestry", "Journalism", "Kinesiology", "Land and Food Systems", "Law", "Library, Archival and Information Studies", "Medicine", "Music", "Nursing", "Pharmaceutical Sciences", "Population and Public Health", "Science", "Social Work", "UBC Vantage College"], 
	
	majors = ["Accounting", "Anthropology", "Applied Biology", "Architecture", "Art History, Visual Art and Theory", "Arts One", "Asian Research", "Asian Studies", "Astronomy", "Audiology and Speech Sciences", "Bachelor of Commerce", "Behavioural Neuroscience", "Biochemistry", "Biology", "Biomedical Engineering", "Canadian International Resources and Development Institute", "Cellular, Anatomical & Physiological Sciences", "Central Eastern Northern European Studies", "Chemical and Biological Engineering", "Chemistry", "Civil Engineering", "Classical, Near Eastern and Religious Studies", "Co-ordinated Arts Program", "Cognitive Systems", "Community and Regional Planning", "Computer Science", "Creative Writing Program", "Critical Studies in Sexuality", "Earth and Ocean Sciences", "Electrical and Computer Engineering", "Engineering Physics", "English Language & Literatures", "Environment Design", "Environmental Engineering", "European Studies", "Executive Education", "Family Practice", "Finance", "First Nations Languages Program", "First Nations Studies Program", "Food and Resource Economics", "Food, Nutrition and Health", "Forest Sciences", "Forestry", "French, Hispanic, & Italian Studies", "Gender, Race, Sexuality and Social Justice", "Geography", "Geological Engineering", "Global Resource Systems", "History", "Integrated Engineering", "International Relations", "International Reporting Program", "Journalism", "Kinesiology", "Landscape Architecture", "Law", "Library, Archival and Information Studies", "Linguistics", "Liu Institute for Global Issues", "Management Information Systems", "Marketing", "Materials Engineering", "Mathematics", "Mechanical Engineering", "Media Studies", "Medical Education", "Medicine", "Microbiology and Immunology", "Midwifery", "Mining Engineering", "Museum of Anthropology", "Music", "Music", "Neuroscience", "Nursing", "Obstetrics and Gynecology", "Operations and Logistics", "Organizational Behaviour and Human Resources", "Pediatrics", "Pharmaceutical Sciences", "Philosophy", "Physics", "Physics and Computer Science", "Physics and Oceanography", "Political Science", "Psychology", "Public Policy and Global Affairs", "Real Estate Division", "Social Work", "Sociology", "Statistics", "Strategy and Business Economics", "Study of Democratic Institutions", "Surgery", "Theatre and Film", "Urologic Sciences", "Vancouver School of Economics", "Zoology"] %>		

<div class="container mb-4">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<form onsubmit="return confirm('Confirm changes');"
				  action="/profile/edit" enctype="multipart/form-data" method="POST">
				<h2 class="text-center mb-4"><i class="fas fa-user-graduate"></i> Edit Profile </h2>
				<hr>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label>Email</label>
						<input type="email" class="form-control" name="user[email]" placeholder="Email" value="<%=user.email%>" required>
					</div>
				</div>
				
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>First Name</label>
						<input type="text" class="form-control" name="user[firstName]" placeholder="First name" 
							   value="<%=user.firstName%>" required>
					</div>
					<div class="form-group col-md-4">
						<label>Middle Name</label>
						<input type="text" class="form-control" name="user[middleName]" placeholder="Middle name" value="<%=user.middleName%>">
					</div>
					<div class="form-group col-md-4">
						<label>Last Name</label>
						<input type="text" class="form-control" name="user[lastName]" placeholder="Last name" 
							   value="<%=user.lastName%>" required>
					</div>
				</div>
				
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>School</label>
						<select class="form-control custom-select" name="user[school]" required>
							<% schools.forEach((school) => { %>
								<option value="<%=school%>" 
										<% if(user.school === school) { %> selected <%}%>>
									<%= school %>
								</option>
							<% }); %>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label>Faculty</label>
						<select class="form-control custom-select" name="user[faculty]" required>
							<% faculties.forEach((faculty) => { %>
								<option value="<%=faculty%>" 
										<% if(user.faculty === faculty) { %> selected <%}%>>
									<%= faculty %>
								</option>
							<% }); %>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label>Major</label>
						<select class="form-control custom-select selectMajor" name="user[major]" required>
							<% majors.forEach((major) => { %>
								<option value="<%=major%>" 
										<% if(user.major === major) { %> selected <%}%>>
									<%= major %>
								</option>
							<% }); %>
							<option value="Other">Other</option>
						</select>
						<div class="input-group mt-2">
							<input type="text" class="form-control specifyMajor" placeholder="Please specify major..." 
								   name="otherMajor">
						</div>
					</div>					
				</div>
				
				<div class="form-group">
					<label>Expected Graduation</label>
					<select class="form-control custom-select" name="user[graduation]" required>
						<% for(let i=0; i < 10; i++) {
							var val = moment().add(i, 'Y').format('YYYY'); %>
						<option value="<%= val %>" <% if(moment(user.graduation).format('YYYY') == val) { %> selected <% } %>>
							<%=val%>
						</option>
						<% } %>
					</select>
				</div>
				
				<% if (user.resumes[0] || user.resumes[1] || user.resumes[2]) { %>
				<div class="">
					<span class="lead">Resumes:</span>
					<% for(let i = 0; i < user.resumes.length; i++) {
						if(user.resumes[i]) { %>
							<a class="m-0" href="/profile/resume/resume-<%=i+1%>">Resume <%= i+1 %></a>
							<% if(user.resumes[i+1]) { %>
							•
							<% } 
					    } 
					} %> 
				</div>
				<% } %>
				
				<div class="resumeForm1 mb-4">
					<div class="input-group mt-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupFileAddon01">Resume 1</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="resume1" id="inputGroupFile01" 
								   aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>

					<h5>
						<a href=# class="addResume1"><i class="fas fa-plus-square"></i> <span class="lead">Update Resume 2</span></a>
					</h5>
				</div>
				
				<div class="resumeForm2 mb-4">
					<div class="input-group mt-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupFileAddon01">Resume 2</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="resume2" id="inputGroupFile01" 
								   aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>
					<h5>
						<a href=# class="addResume2"><i class="fas fa-plus-square"></i> <span class="lead">Update Resume 3</span></a>
					</h5>
				</div>
				
				<div class="resumeForm3 mb-4">
					<div class="input-group mt-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupFileAddon01">Resume 3</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="resume3" id="inputGroupFile01" 
								   aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>
				</div>
				
				
				<div class="form-row">
					<div class="col-md-3">
						<button type="submit" class="btn btn-outline-primary btn-block">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<% include ../partials/footer %>